---
import Base from '../layouts/Base.astro';
import DraftsList from '../lib/components/DraftsList.svelte';
import MyTriviasList from '../lib/components/MyTriviasList.svelte';
import BackupControls from '../lib/components/BackupControls.svelte';
---

<Base title="Trivias">
  <h1 class="mb-4 text-2xl font-bold text-slate-900">Your Trivias</h1>
  <DraftsList client:load />
  <MyTriviasList client:only="svelte" />
  <BackupControls client:only="svelte" />
</Base>
